body { 
    width: 100%;
    min-height: 100vh; 
    animation-name: water;
    animation-delay: none;
    animation-direction: alternate-reverse;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-align: center;
}
a{
    text-decoration: none;
    text-transform: none;
    color: azure;
}
a:hover{
    color: yellow;
}
.walkwithme, .ellipsis {
    font-size: 300px;
    font-family: 'Passions Conflict', cursive;
    Color: white;
    text-align: center;
    display: flexbox;
    flex-direction:column;
}
flex{
    margin-left: 300px;
    margin-right: 300px;
}
.ellipsis{
    animation: continue1 8s ease-in 0s infinite forwards; 
}

@keyframes water{
    from{
        background-color: azure;
    }
    to {
        background-color: rgb(0, 88, 118);
    }
}

@keyframes enterleft{
    from{
        margin-top: 100%
    }
    to {
        margin-bottom: -100%
    }
}