body { 
   
    font-family: 'Young Serif';
}
body{
    width: 100%;
    height: 100vh; 
    background-color: rgb(145, 17, 0);
    animation-name: ringing;
    animation-delay: none;
    animation-direction: alternate-reverse;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
em{
    animation-name: calling;
    animation-delay: none;
    animation-direction: alternate-reverse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



h1, h2, h3, h4{
    text-align: center;
}
h3, h4{
    font-size: 30px;
    padding-left: 325px;
    padding-right: 325px;
    color: white;
}
h1{
    animation-name: ijustcalled;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    position: relative;
    margin-top: 100px;
  
}
h2{
    animation-name: iloveyou;
    animation-direction: forwards;
    animation-duration: 14s;
    animation-iteration-count:infinite;
    position: relative;
    transform-origin: center;
    animation-timing-function: ease-in-out
    }
h3,h4
    {animation-name: care;
        animation-delay: 0s;
        animation-direction: forwards ;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
h5{
    text-align: center;
    font-size: 50px;
    animation-name: heart;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}





@keyframes ringing{
    from{
        background-color: red;
    }
    to {
        background-color: rebeccapurple;
    }
}
  @keyframes calling {
    from{
        color: white
    }
     to {
        color:yellow;
        transform: scale(4);
     }
}
@keyframes care{
    from {
        color: black;
        transform: translate(1000px, 0px);
    }
  
    to{
        color: pink;
        transform: translate(0px, 0px)
    }
}

  @keyframes iloveyou{
    from{
       color: yellow;
    }
    to { transform: scale(5);
    	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
    color: pink;
    }
}
@keyframes ijustcalled {
        from{
            left: 50%; 
            transform: translate(-50%, 0);
            opacity: 0.2;     
        }
        to { 
            right: 50%; 
            transform: translate(50%, 0);
            opacity: 1;  
          }
        }

@keyframes heart{
    from{
        color: red;
        transform: translate(0px, 10000px);
    }
    to {
        color: white;
        transform: scale(3) translate(0px, 0px);
        -webkit-transform: scale(3);
        -moz-transform: scale(3);
        -o-transform: scale(3);
        -ms-transform: scale(3);
        }
    }